<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="AppName" value="OPENCHAMPIONSHIP"/>
    <add key="FlagFolder" value="C:\inetpub\wwwroot\Golf\images\flags" />
    <add key="HeadshotFolder" value="http://localhost/Golf/images/headshots"/>
    <add key="AutoRefreshResearchNote" value="false"/>
    <add key="RefreshInterval" value="3"/>
    <add key="BingMapsKey" value="At7nX9uGynllEA_A71fETM1G08D_jnc73pK-fjV5iob395L12fdShfWYf-krW_Dl"/>
    <add key="ChatApplicationID" value="1"/>
  </appSettings>
  
  <connectionStrings>
    <add name="MySqlStatsDb" connectionString="Server=ec2-23-20-214-225.compute-1.amazonaws.com;Database=golfscoring_ids;UID=root;PWD=espn;PORT=3306" />
    <add name="MySqlChatDb" connectionString="Server=ec2-23-20-214-225.compute-1.amazonaws.com;Database=chat;UID=root;PWD=espn;PORT=3306" />
    <add name="MySqlTouchscreenDb" connectionString="Server=brscompdb;Database=touchscreen;UID=root;PWD=espn;PORT=3306"/>
  </connectionStrings>
  
</configuration>